<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= link_to "Alpha Blog", root_path, class: "navbar-brand", id: "logo" %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><li><%= link_to "Create Article", new_article_path, class: "nav-link text-light" %></li></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><li><%= link_to "Articles", articles_path, class: "nav-link text-light" %></li></a>
        </li>

      </ul>
    </div>
  </div>
</nav>